// @import './vars.less';

.area-yellow {
  color: @color2;
  background-color: @color1;
  padding-top: 150px;

  svg {
    fill: @color2;
  }
  article {
    section {
      padding: 0px 3vw;
      div {
        width: 50%;
        padding-top: 15vh;
        color: @color2;
        h2 {
          padding: 20px 0px;
          font-size: @fontSize1;
        }
        h4 {
          padding: 20px 0px;
          font-size: @fontSize2;
          font-weight: 400;
        }
        p {
          font-size: @fontSize4;
        }
        .stores {
          width: 100%;
          margin-left: -8px;
          padding-top: 5vh;
          svg {
            height: 50px;
            width: 70px;
          }
        }
      }
    }
  }

  .tablet-tynione {
    position: absolute;
    height: 445px;
    width: 300px;
    top: 30vh;
    right: 9vw;
    .tablet-ilustration {
      height: 100%;
    }
    .brand {
      position: absolute;
      top: 205px;
      left: 60px;
      h1 {
        color: @color1;
      }
    }
  }
}
