footer {
  position: relative;
  width: 100%;
  margin-top: 100px;
  background-color: #2a2828;
  z-index: -1;
  a {
    color: white;
    text-decoration: none;
  }
  .copyright {
    width: 100%;
    background-color: #2a2828;
    padding: 20px;
    text-align: center;
    color: #737272;
    font-family: 'Open Sans', sans-serif;
    font-size: @fontSize5;
  }
  article {
    width: 100%;
    display: block;
    position: relative;
    color: white;
    text-align: center;
    padding: 2em 0em;
    .item {
      width: 90%;
      text-align: center;
      display: inline-block;
      font-family: 'Open Sans', sans-serif;
      font-size: @fontSize5;
      margin: 0.5em 5% 1em;
      .logo {
        text-align: center;
        margin-bottom: 1em;
      }
      p {
        text-align: center;
        margin: 5px 0px;
        font-family: 'Open Sans', sans-serif;
        font-size: @fontSize5;
        line-height: 24px;
        font-style: normal;
        font-weight: 400;
        a {
          &:hover {
            color: #c78f2f;
          }
        }
      }
      &:first-child {
        text-align: center;
        p {
          text-align: center;
          margin: 5px 0px;
          font-size: @fontSize6;
        }
      }
    }
    &:first-child {
      display: flex;
      position: relative;
      flex-wrap: wrap;
      box-sizing: border-box;
      height: auto;
      width: 100%;
      background-color: #121212;
      padding: 2em;
      justify-content: center;
      span {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: @fontSize5;
        line-height: 30px;
        text-decoration: none;
        color: #ccc;
        &:first-child {
          font-family: 'Playfair Display', serif;
          font-size: 24px;
        }
      }
      i {
        font-size: 24px;
        color: #c78f2f;
        margin-right: 5px;
      }
      div,
      a {
        width: 98%;
        text-align: center;
        margin: 0.5em auto;
      }
    }
  }
}

#goUp {
  position: fixed;
  bottom: 30px;
  right: 30px;
  div {
    position: relative;
    width: 55px;
    height: 55px;
    border: 2px solid #f6f5f4;
    border-radius: 60px;
    cursor: pointer;
    &::after {
      content: '';
      width: 2px;
      height: 45%;
      top: 28.5%;
      left: 25px;
      background-color: #f6f5f4;
      position: absolute;
    }
    i {
      font-size: 24px;
      color: #f6f5f4;
      position: absolute;
      top: 10%;
      left: 0.03em;
      width: 100%;
      text-align: center;
    }
  }
}
