@charset "utf-8";
/*reset*/
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: local('Cairo'), local('Cairo-Regular'), url(https://fonts.gstatic.com/s/cairo/v3/SLXGc1nY6HkvalIkTpu0xg.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin-ext */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: local('Cairo'), local('Cairo-Regular'), url(https://fonts.gstatic.com/s/cairo/v3/SLXGc1nY6HkvalIvTpu0xg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  src: local('Cairo'), local('Cairo-Regular'), url(https://fonts.gstatic.com/s/cairo/v3/SLXGc1nY6HkvalIhTps.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* arabic */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 700;
  src: local('Cairo Bold'), local('Cairo-Bold'), url(https://fonts.gstatic.com/s/cairo/v3/SLXLc1nY6Hkvalqaa46O59ZMaA.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin-ext */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 700;
  src: local('Cairo Bold'), local('Cairo-Bold'), url(https://fonts.gstatic.com/s/cairo/v3/SLXLc1nY6Hkvalqaa46F59ZMaA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 700;
  src: local('Cairo Bold'), local('Cairo-Bold'), url(https://fonts.gstatic.com/s/cairo/v3/SLXLc1nY6Hkvalqaa46L59Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
#main {
  height: auto;
  width: 100%;
}
* {
  box-sizing: border-box;
}
mark {
  background-color: transparent;
  color: inherit;
}
/*reset*/
a,
address,
b,
big,
blockquote,
body,
center,
cite,
code,
dd,
del,
div,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
label,
legend,
li,
ol,
p,
pre,
small,
span,
strong,
u,
ul {
  font-family: 'Cairo', sans-serif;
  margin: 0;
  padding: 0;
}
em {
  font-style: normal;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  border: none;
}
table {
  border-collapse: collapse;
}
input,
textarea {
  outline: none;
}
textarea {
  resize: none;
  overflow: auto;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.loading {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}
.loading svg {
  margin: 0px;
  padding: 0px;
}
.loading svg path {
  opacity: 0;
}
#header {
  position: absolute;
  top: 0px;
  left: 0px;
}
#header nav {
  position: relative;
}
#header .header_bar {
  position: absolute;
  opacity: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#header .header_bar svg {
  min-width: 600px;
  stroke-opacity: 0.5;
  opacity: 0.5;
  height: 100%;
}
footer {
  position: relative;
  width: 100%;
  margin-top: 100px;
  background-color: #2a2828;
  z-index: -1;
}
footer a {
  color: white;
  text-decoration: none;
}
footer .copyright {
  width: 100%;
  background-color: #2a2828;
  padding: 20px;
  text-align: center;
  color: #737272;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
footer article {
  width: 100%;
  display: block;
  position: relative;
  color: white;
  text-align: center;
  padding: 2em 0em;
}
footer article .item {
  width: 90%;
  text-align: center;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 0.5em 5% 1em;
}
footer article .item .logo {
  text-align: center;
  margin-bottom: 1em;
}
footer article .item p {
  text-align: center;
  margin: 5px 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
}
footer article .item p a:hover {
  color: #c78f2f;
}
footer article .item:first-child {
  text-align: center;
}
footer article .item:first-child p {
  text-align: center;
  margin: 5px 0px;
  font-size: 12px;
}
footer article:first-child {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  background-color: #121212;
  padding: 2em;
  justify-content: center;
}
footer article:first-child span {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 30px;
  text-decoration: none;
  color: #ccc;
}
footer article:first-child span:first-child {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
}
footer article:first-child i {
  font-size: 24px;
  color: #c78f2f;
  margin-right: 5px;
}
footer article:first-child div,
footer article:first-child a {
  width: 98%;
  text-align: center;
  margin: 0.5em auto;
}
#goUp {
  position: fixed;
  bottom: 30px;
  right: 30px;
}
#goUp div {
  position: relative;
  width: 55px;
  height: 55px;
  border: 2px solid #f6f5f4;
  border-radius: 60px;
  cursor: pointer;
}
#goUp div::after {
  content: "";
  width: 2px;
  height: 45%;
  top: 28.5%;
  left: 25px;
  background-color: #f6f5f4;
  position: absolute;
}
#goUp div i {
  font-size: 24px;
  color: #f6f5f4;
  position: absolute;
  top: 10%;
  left: 0.03em;
  width: 100%;
  text-align: center;
}
#popInfo {
  position: fixed;
  right: 5%;
  bottom: -18em;
  width: 80%;
  z-index: 999;
}
#popInfo div {
  pointer-events: none;
  position: relative;
  padding: 1em;
  background-color: white;
  border-radius: 5px;
  border: 1px none #000000;
  box-shadow: 0px 10px 25px 4px rgba(2, 2, 2, 0.5);
  background-color: #ffffff;
}
#popInfo div h3 {
  color: #c58d41;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  text-shadow: 0px 0px 0px rgba(2, 2, 2, 0.23);
  font-size: 20px;
  line-height: 36px;
}
#popInfo div p {
  color: #737272;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
}
#popInfo div i {
  position: absolute;
  font-size: 12px;
  top: 0.4em;
  right: 0.4em;
  width: 20px;
  height: 20px;
  text-align: center;
  padding: 4px;
  border-radius: 25px;
  background-color: #c58d41;
  color: white;
  cursor: pointer;
  pointer-events: all;
}
* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}
body,
html {
  overflow-x: hidden;
}
.doc_background {
  position: fixed;
  z-index: -1;
  top: -5vh;
  left: -5vw;
  width: 110vw;
  height: 110vh;
}
.doc_background svg {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
.doc_background svg path {
  fill-opacity: 0;
  stroke-opacity: 0;
  stroke-width: 0em;
  stroke-dashoffset: 0em;
}
.buttons {
  position: absolute;
  bottom: 0.2em;
  width: 98%;
  z-index: 999;
  margin-left: -2px;
  opacity: 1;
  text-align: center;
}
.buttons a {
  opacity: 0;
  font-weight: 700;
  font-size: 0.7em;
  line-height: 1em;
  padding: 5px 30px 5px 10px;
  max-height: 50px;
  overflow: hidden;
  margin: 0.5em 0.2em;
  text-transform: uppercase;
  color: white;
  background-color: rgba(11, 11, 97, 0.7);
  border-radius: 2px;
  cursor: pointer;
  position: relative;
}
.buttons a:first-child {
  background-color: rgba(22, 228, 22, 0.7);
}
.buttons a svg {
  fill: #ffffff;
  position: absolute;
  right: 7px;
  top: 9px;
  transform: scale(0.7);
}
.page {
  min-height: 100vh;
  text-align: center;
}
.banner {
  text-align: right;
  width: 100%;
  position: relative;
}
.banner .background {
  z-index: -1;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 0px;
}
.banner .background svg {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
.banner .background svg path {
  opacity: 0;
}
.banner .container {
  perspective: 150px;
  width: 95%;
  top: 40%;
  transform: translateY(-40%);
  position: absolute;
}
.banner .container .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
.banner .container .text-wrapper .letter {
  display: inline-block;
  text-shadow: 2px 2px 5px #0B0B61;
  opacity: 0;
}
.banner .container h1 {
  text-align: right;
  font-size: 25px;
  line-height: 25px;
  margin-right: 50px;
  color: white;
}
.banner .container h2 {
  font-size: 20px;
  line-height: 20px;
  color: white;
  text-align: right;
}
.sub_problema {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.sub_problema h1 {
  width: 60%;
  text-align: right;
  margin: 1em 0em 0em 38%;
  padding: 0.7em;
  font-size: 1em;
  line-height: 1.8em;
  border-radius: 3px;
  color: white;
  color: #0B0B61;
  position: relative;
  text-shadow: 4px 4px 8px #d9e5f0;
}
.sub_problema h1::after {
  content: "";
  position: absolute;
  height: 3.5px;
  width: 60%;
  bottom: 0px;
  right: 0px;
  background-color: red;
}
.sub_problema h1::before {
  content: "";
  position: absolute;
  height: 7px;
  width: 15%;
  bottom: -7px;
  right: 0em;
  background-color: red;
  z-index: -1;
}
.sub_problema h1 span {
  position: absolute;
  right: 0px;
  bottom: -32px;
  color: red;
  text-transform: uppercase;
}
.sub_problema .itens {
  width: 100%;
  height: 100%;
  display: block;
}
.sub_problema .itens .iten {
  position: absolute;
  width: 95vw;
  opacity: 0;
  left: 50%;
  top: 65%;
  transform: translateY(-65%) translateX(-50%);
  text-align: center;
  display: block;
}
.sub_problema .itens .iten .icon {
  border-radius: 100%;
  height: 9em;
  width: 9em;
  margin: 1em auto;
  margin-bottom: 1em;
  padding: 1em;
  background: -moz-linear-gradient(45deg, rgba(232, 228, 176, 0.8) 0%, rgba(232, 228, 176, 0.79) 1%, rgba(226, 219, 156, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(232, 228, 176, 0.8) 0%, rgba(232, 228, 176, 0.79) 1%, rgba(226, 219, 156, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(232, 228, 176, 0.8) 0%, rgba(232, 228, 176, 0.79) 1%, rgba(226, 219, 156, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cce8e4b0', endColorstr='#00e2db9c', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border: 2px solid white;
  -webkit-box-shadow: 20px 23px 90px -36px #05172b;
  -moz-box-shadow: 20px 23px 90px -36px #05172b;
  box-shadow: 20px 23px 90px -36px #05172b;
}
.sub_problema .itens .iten .icon img {
  margin-top: 10%;
  transform: translateY(-10%);
  width: 90%;
  height: auto;
}
.sub_problema .itens .iten p {
  margin: 2em 15px;
  font-weight: 400;
  font-size: 14px;
  color: #102a83;
  text-shadow: 2px 2px 5px rgba(11, 11, 97, 0.11);
}
.sub_problema .buttons {
  position: absolute;
  left: 0.8em;
  top: 11.5em;
  width: 50px;
  cursor: pointer;
  opacity: 0.25;
}
.sub_problema .buttons div {
  width: 16px;
  height: 16px;
  background-color: gray;
  display: block;
  border-radius: 100%;
  margin: 0.8em 0.2em;
  border: 1px solid #102a83;
}
.solucao {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.solucao h1 {
  width: 60%;
  text-align: right;
  margin: 1em 0em 0em 38%;
  padding: 0.7em;
  font-size: 1em;
  line-height: 1.8em;
  border-radius: 3px;
  color: white;
  color: #0B0B61;
  position: relative;
  text-shadow: 4px 4px 8px #d9e5f0;
}
.solucao h1::after {
  content: "";
  position: absolute;
  height: 3.5px;
  width: 60%;
  bottom: 0px;
  right: 0px;
  background-color: red;
}
.solucao h1::before {
  content: "";
  position: absolute;
  height: 7px;
  width: 15%;
  bottom: -7px;
  right: 0em;
  background-color: red;
  z-index: -1;
}
.solucao h1 span {
  position: absolute;
  right: 0px;
  bottom: -32px;
  color: red;
  text-transform: uppercase;
}
.solucao .itens {
  width: 100%;
  height: 100%;
  display: block;
}
.solucao .itens .iten {
  position: absolute;
  width: 95vw;
  opacity: 0;
  left: 50%;
  top: 65%;
  transform: translateY(-65%) translateX(-50%);
  text-align: center;
  display: block;
}
.solucao .itens .iten .icon {
  border-radius: 100%;
  height: 9em;
  width: 9em;
  margin: 1em auto;
  margin-bottom: 1em;
  padding: 1em;
  background: -moz-linear-gradient(45deg, rgba(232, 228, 176, 0.8) 0%, rgba(232, 228, 176, 0.79) 1%, rgba(226, 219, 156, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(232, 228, 176, 0.8) 0%, rgba(232, 228, 176, 0.79) 1%, rgba(226, 219, 156, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(232, 228, 176, 0.8) 0%, rgba(232, 228, 176, 0.79) 1%, rgba(226, 219, 156, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cce8e4b0', endColorstr='#00e2db9c', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border: 2px solid white;
  -webkit-box-shadow: 20px 23px 90px -36px #05172b;
  -moz-box-shadow: 20px 23px 90px -36px #05172b;
  box-shadow: 20px 23px 90px -36px #05172b;
}
.solucao .itens .iten .icon img {
  margin-top: 10%;
  transform: translateY(-10%);
  width: 90%;
  height: auto;
}
.solucao .itens .iten p {
  margin: 2em 15px;
  font-weight: 400;
  font-size: 14px;
  color: #102a83;
  text-shadow: 2px 2px 5px rgba(11, 11, 97, 0.11);
}
.solucao .buttons {
  position: absolute;
  left: 0.8em;
  top: 11.5em;
  width: 50px;
  cursor: pointer;
  opacity: 0.25;
}
.solucao .buttons div {
  width: 16px;
  height: 16px;
  background-color: gray;
  display: block;
  border-radius: 100%;
  margin: 0.8em 0.2em;
  border: 1px solid #102a83;
}
.solucao .itens {
  width: 100%;
}
.solucao .itens .iten .icon {
  border-radius: 15%;
  height: 12em;
  width: 12em;
  margin: 0px auto;
  margin-bottom: 1em;
  padding: 1em;
  border: 2px solid rgba(5, 23, 43, 0.1);
  background: -moz-linear-gradient(45deg, rgba(176, 232, 232, 0.8) 0%, rgba(176, 232, 223, 0.4) 1%, rgba(226, 219, 156, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(176, 232, 232, 0.8) 0%, rgba(176, 232, 223, 0.4), rgba(226, 219, 156, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(176, 232, 232, 0.8) 0%, rgba(176, 232, 223, 0.4), rgba(226, 219, 156, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b0e8dfc9', endColorstr='#b0e8dfc9', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: 20px 23px 90px -36px #05172b;
  -moz-box-shadow: 20px 23px 90px -36px #05172b;
  box-shadow: 20px 23px 90px -36px #05172b;
}
.solucao .itens .iten .icon img {
  margin-top: 10%;
  transform: translateY(-10%);
  width: 90%;
  height: auto;
}
.clientes {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.clientes h1 {
  width: 60%;
  text-align: right;
  margin: 1em 0em 0em 38%;
  padding: 0.7em;
  font-size: 1em;
  line-height: 1.8em;
  border-radius: 3px;
  color: white;
  color: #0B0B61;
  position: relative;
  text-shadow: 4px 4px 8px #d9e5f0;
}
.clientes h1::after {
  content: "";
  position: absolute;
  height: 3.5px;
  width: 60%;
  bottom: 0px;
  right: 0px;
  background-color: red;
}
.clientes h1::before {
  content: "";
  position: absolute;
  height: 7px;
  width: 15%;
  bottom: -7px;
  right: 0em;
  background-color: red;
  z-index: -1;
}
.clientes h1 span {
  position: absolute;
  right: 0px;
  bottom: -32px;
  color: red;
  text-transform: uppercase;
}
.clientes .itens {
  width: 100%;
  height: 100%;
  display: block;
}
.clientes .itens .iten {
  position: absolute;
  width: 95vw;
  opacity: 0;
  left: 50%;
  top: 65%;
  transform: translateY(-65%) translateX(-50%);
  text-align: center;
  display: block;
}
.clientes .itens .iten .icon {
  border-radius: 100%;
  height: 9em;
  width: 9em;
  margin: 1em auto;
  margin-bottom: 1em;
  padding: 1em;
  background: -moz-linear-gradient(45deg, rgba(232, 228, 176, 0.8) 0%, rgba(232, 228, 176, 0.79) 1%, rgba(226, 219, 156, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(232, 228, 176, 0.8) 0%, rgba(232, 228, 176, 0.79) 1%, rgba(226, 219, 156, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(232, 228, 176, 0.8) 0%, rgba(232, 228, 176, 0.79) 1%, rgba(226, 219, 156, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cce8e4b0', endColorstr='#00e2db9c', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border: 2px solid white;
  -webkit-box-shadow: 20px 23px 90px -36px #05172b;
  -moz-box-shadow: 20px 23px 90px -36px #05172b;
  box-shadow: 20px 23px 90px -36px #05172b;
}
.clientes .itens .iten .icon img {
  margin-top: 10%;
  transform: translateY(-10%);
  width: 90%;
  height: auto;
}
.clientes .itens .iten p {
  margin: 2em 15px;
  font-weight: 400;
  font-size: 14px;
  color: #102a83;
  text-shadow: 2px 2px 5px rgba(11, 11, 97, 0.11);
}
.clientes .buttons {
  position: absolute;
  left: 0.8em;
  top: 11.5em;
  width: 50px;
  cursor: pointer;
  opacity: 0.25;
}
.clientes .buttons div {
  width: 16px;
  height: 16px;
  background-color: gray;
  display: block;
  border-radius: 100%;
  margin: 0.8em 0.2em;
  border: 1px solid #102a83;
}
.clientes .itens {
  width: 100%;
}
.clientes .itens .iten {
  width: 80%;
  top: 65%;
  transform: translateY(-65%) translateX(-50%);
}
.clientes .itens .iten div {
  display: inline-block;
  width: 35%;
  height: auto;
  padding: 0em;
  margin: 1em 1em;
}
.clientes .itens .iten div img {
  width: 100%;
  height: 100%;
}
.contrate {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.contrate h1 {
  width: 60%;
  text-align: right;
  margin: 1em 0em 0em 38%;
  padding: 0.7em;
  font-size: 1em;
  line-height: 1.8em;
  border-radius: 3px;
  color: white;
  color: #0B0B61;
  position: relative;
  text-shadow: 4px 4px 8px #d9e5f0;
}
.contrate h1::after {
  content: "";
  position: absolute;
  height: 3.5px;
  width: 60%;
  bottom: 0px;
  right: 0px;
  background-color: red;
}
.contrate h1::before {
  content: "";
  position: absolute;
  height: 7px;
  width: 15%;
  bottom: -7px;
  right: 0em;
  background-color: red;
  z-index: -1;
}
.contrate h1 span {
  position: absolute;
  right: 0px;
  bottom: -32px;
  color: red;
  text-transform: uppercase;
}
.contrate .itens {
  width: 100%;
  height: 100%;
  display: block;
}
.contrate .itens .iten {
  position: absolute;
  width: 95vw;
  opacity: 0;
  left: 50%;
  top: 65%;
  transform: translateY(-65%) translateX(-50%);
  text-align: center;
  display: block;
}
.contrate .itens .iten .icon {
  border-radius: 100%;
  height: 9em;
  width: 9em;
  margin: 1em auto;
  margin-bottom: 1em;
  padding: 1em;
  background: -moz-linear-gradient(45deg, rgba(232, 228, 176, 0.8) 0%, rgba(232, 228, 176, 0.79) 1%, rgba(226, 219, 156, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(232, 228, 176, 0.8) 0%, rgba(232, 228, 176, 0.79) 1%, rgba(226, 219, 156, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(232, 228, 176, 0.8) 0%, rgba(232, 228, 176, 0.79) 1%, rgba(226, 219, 156, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cce8e4b0', endColorstr='#00e2db9c', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border: 2px solid white;
  -webkit-box-shadow: 20px 23px 90px -36px #05172b;
  -moz-box-shadow: 20px 23px 90px -36px #05172b;
  box-shadow: 20px 23px 90px -36px #05172b;
}
.contrate .itens .iten .icon img {
  margin-top: 10%;
  transform: translateY(-10%);
  width: 90%;
  height: auto;
}
.contrate .itens .iten p {
  margin: 2em 15px;
  font-weight: 400;
  font-size: 14px;
  color: #102a83;
  text-shadow: 2px 2px 5px rgba(11, 11, 97, 0.11);
}
.contrate .buttons {
  position: absolute;
  left: 0.8em;
  top: 11.5em;
  width: 50px;
  cursor: pointer;
  opacity: 0.25;
}
.contrate .buttons div {
  width: 16px;
  height: 16px;
  background-color: gray;
  display: block;
  border-radius: 100%;
  margin: 0.8em 0.2em;
  border: 1px solid #102a83;
}
.login {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.login h1 {
  width: 60%;
  text-align: right;
  margin: 1em 0em 0em 38%;
  padding: 0.7em;
  font-size: 1em;
  line-height: 1.8em;
  border-radius: 3px;
  color: white;
  color: #0B0B61;
  position: relative;
  text-shadow: 4px 4px 8px #d9e5f0;
}
.login h1::after {
  content: "";
  position: absolute;
  height: 3.5px;
  width: 60%;
  bottom: 0px;
  right: 0px;
  background-color: red;
}
.login h1::before {
  content: "";
  position: absolute;
  height: 7px;
  width: 15%;
  bottom: -7px;
  right: 0em;
  background-color: red;
  z-index: -1;
}
.login h1 span {
  position: absolute;
  right: 0px;
  bottom: -32px;
  color: red;
  text-transform: uppercase;
}
.login .itens {
  width: 100%;
  height: 100%;
  display: block;
}
.login .itens .iten {
  position: absolute;
  width: 95vw;
  opacity: 0;
  left: 50%;
  top: 65%;
  transform: translateY(-65%) translateX(-50%);
  text-align: center;
  display: block;
}
.login .itens .iten .icon {
  border-radius: 100%;
  height: 9em;
  width: 9em;
  margin: 1em auto;
  margin-bottom: 1em;
  padding: 1em;
  background: -moz-linear-gradient(45deg, rgba(232, 228, 176, 0.8) 0%, rgba(232, 228, 176, 0.79) 1%, rgba(226, 219, 156, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(232, 228, 176, 0.8) 0%, rgba(232, 228, 176, 0.79) 1%, rgba(226, 219, 156, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(232, 228, 176, 0.8) 0%, rgba(232, 228, 176, 0.79) 1%, rgba(226, 219, 156, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cce8e4b0', endColorstr='#00e2db9c', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  border: 2px solid white;
  -webkit-box-shadow: 20px 23px 90px -36px #05172b;
  -moz-box-shadow: 20px 23px 90px -36px #05172b;
  box-shadow: 20px 23px 90px -36px #05172b;
}
.login .itens .iten .icon img {
  margin-top: 10%;
  transform: translateY(-10%);
  width: 90%;
  height: auto;
}
.login .itens .iten p {
  margin: 2em 15px;
  font-weight: 400;
  font-size: 14px;
  color: #102a83;
  text-shadow: 2px 2px 5px rgba(11, 11, 97, 0.11);
}
.login .buttons {
  position: absolute;
  left: 0.8em;
  top: 11.5em;
  width: 50px;
  cursor: pointer;
  opacity: 0.25;
}
.login .buttons div {
  width: 16px;
  height: 16px;
  background-color: gray;
  display: block;
  border-radius: 100%;
  margin: 0.8em 0.2em;
  border: 1px solid #102a83;
}
.problemas {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.problemas h1 {
  width: 60%;
  text-align: right;
  margin: 1em 0em 0em 38%;
  padding: 0.7em;
  font-size: 1em;
  line-height: 1.8em;
  border-radius: 3px;
  color: white;
  color: #0B0B61;
  position: relative;
  text-shadow: 4px 4px 8px #d9e5f0;
}
.problemas h1::after {
  content: "";
  position: absolute;
  height: 3.5px;
  width: 60%;
  bottom: 0px;
  right: 0px;
  background-color: red;
}
.problemas h1::before {
  content: "";
  position: absolute;
  height: 7px;
  width: 15%;
  bottom: -7px;
  right: 0em;
  background-color: red;
  z-index: -1;
}
.problemas h1 span {
  position: absolute;
  right: 0px;
  bottom: -32px;
  color: red;
  text-transform: uppercase;
}
.problemas p {
  margin: 0.5em auto;
  font-weight: 400;
  font-size: 15px;
  color: #102a83;
  width: 90%;
  text-shadow: 2px 2px 5px rgba(11, 11, 97, 0.11);
}
.problemas .chart_default {
  display: block;
  padding: 1em;
  position: relative;
  margin-top: 2em;
}
.problemas .chart_default svg {
  width: 150px;
  height: 150px;
}
.problemas .chart_default .pieChart-svg-slices {
  display: block;
}
.problemas .chart_default ul {
  margin: 0px;
  display: block;
  position: relative;
}
.problemas .chart_default ul li {
  position: relative;
  display: inline-block;
  margin: 0px -2.5px;
}
.problemas .chart_default ul li div {
  position: relative;
  font-family: "Cairo";
  margin: 0px;
  display: inline-block;
  padding: 0.5em 0.7em;
  font-weight: 700;
  font-size: 14px;
  text-transform: capitalize;
  color: red;
}
.problemas .chart_default ul li div::after {
  content: "";
  position: absolute;
  height: 3.5px;
  width: 80%;
  bottom: 0px;
  right: 10%;
  background-color: red;
}
