.loading {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}
.loading svg {
  margin: 0px;
  padding: 0px;
}
.loading svg path {
  opacity: 0;
}
.menu {
  background-color: white;
  z-index: 1000;
  position: fixed;
  top: 0px;
  left: -50%;
  width: 50%;
  height: 100%;
  padding: 10em 1em;
}
.menu span {
  color: #102a83;
  margin-top: -0.2em;
  margin-left: 2em;
  font-size: 1em;
  display: block;
  font-size: 0.8em;
  line-height: 1.7em;
  padding-left: 2em;
  cursor: pointer;
}
.menu h3 {
  color: #102a83;
  font-size: 1.2em;
  line-height: 2em;
  cursor: pointer;
  opacity: 0;
}
#header {
  position: absolute;
  top: 0px;
  left: 0px;
}
#header nav {
  position: relative;
}
#header .header_bar {
  position: absolute;
  opacity: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#header .header_bar svg {
  min-width: 600px;
  stroke-opacity: 0.5;
  opacity: 0.5;
  height: 100%;
}
