<% var params = templateParams; var data = [{ label: 'Features', href: './' },{
label: 'Support', href: '/.' },{ label: 'Blog', href: '/.' } ] %>

<nav id="menu-app">
  <div class="menu-background"></div>

  <div class="menu-open-button">
    <svg>
      <use xlink:href="#menubutton" preserveAspectRatio="xMaxYMin meet"></use>
    </svg>
  </div>
  <div class="brand">
    <svg>
      <use xlink:href="#finger"></use>
    </svg>
    <h1>tinyone</h1>
  </div>
  <ul class="header-menu">
    <% data.forEach(function(button){ %>
    <li>
      <a href="<%=button.href%>" class="spacer" target="_blank">
        <%=button.label%>
      </a>
    </li>
    <% }); %>
  </ul>
  <ul class="header-secondary-menu">
    <% data.forEach(function(button){ %>
    <li>
      <a href="<%=button.href%>" class="spacer" target="_self">
        <%=button.label%>
      </a>
    </li>
    <% }); %>
  </ul>
  <div class="header-border"></div>
</nav>
