<% var data = [ [ { label: "Expample", href: "/."}, { label: "Shop", href:
"/."}, { label: "License", href: "/."}, ], [ { label: "Contact", href: "/."}, {
label: "About", href: "/."}, { label: "Privacy", href: "/."}, { label: "Terms",
href: "/."}, ], [ { label: "Download", href: "/."}, { label: "Support", href:
"/."}, { label: "Documents", href: "/."}, ], [ { label: "Media", href: "/."}, {
label: "Blog", href: "/."}, { label: "Forums", href: "/."} ] ]; %>
<footer>
  <div class="footer-container">
    <address>
      <span>
        <span class="address-title">HALOVIERNAM LTD</span>
        <span class="address-info">66, Dang Van ngu, Dong Da </span>
        <span class="address-info">Hanoi, Vietnam</span>
        <span class="address-email" title="California"
          >contact@haloviernam.com</span
        >
        <span class="address-info">+844 35149182</span>
      </span>
    </address>
    <div class="footer-links">
      <% data.forEach(function(area){ %>
      <ul>
        <% area.forEach(function(item){ %>
        <li>
          <a href="<%=item.href%>" target="_blank">
            <%=item.label%>
            <div class="button-line"></div>
            <div class="mouse-area"></div>
          </a>
        </li>
        <% }); %>
      </ul>
      <% }); %>
    </div>
  </div>
</footer>
