<% var logo = require("inline-html-withimg-loader!./ui/image") %> <% var params
= templateParams var patch = params.patch var image = params.data.image %>
<div class="prerender">
  <!-- <%= logo( { patch: patch, image: image } ) %> -->
</div>
